.project {
    background-color: #191919;
}

.container{
    /* border: 1px solid blue; */
    display: flex;
  }
.heading{
  margin-bottom: 50px;
}



.component__space{
  
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  }
.container-interno{
  width: 92%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;   
  /* border: 1px solid white; */
}

h2{
    text-align: center;
    color: #D90368;   
    font-size:40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

p{
    text-align: center;
    color: rgb(255, 254, 254);
}


.card{
  width: 800px;
  height: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-image: url('../../img/trybewallet.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(0.9);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}

.card-wrapper{
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}

.card-wrapper::before{
content: '';
position: absolute;
height: 100px;
width: 100px;
display: block;
border: 1px solid rgb(0, 0, 0);
opacity: 0;
transition: 0.3s;
}

.card-wrapper h2{
font-size: 40px;
color: black;
text-transform: uppercase;
letter-spacing: 4px;
margin: 0;
transition: 0.3s;
}

.card-wrapper p{
font-size: 0;
visibility: hidden;
opacity: 0;
font-weight: bold;
text-transform: uppercase;
transition: 0.3s;
color: black;
}

.card:hover{
filter:none
}

.card:hover > .card-wrapper::before{
height: 350px;
width: 750px;
opacity: 1;
}

.card:hover > .card-wrapper p{
opacity: 1;
visibility: visible;
font-size: 14px;
}